.product-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.product-list-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  width: calc(33.33% - 20px);
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.card-body {
  padding: 15px;
}

.title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.price {
  color: green;
  margin-bottom: 8px;
}

.inventory {
  color: #888;
  margin-bottom: 8px;
}

.product-link {
  text-decoration: none;
  color: #007bff;
  display: block;
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #007bff;
  padding: 8px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.product-link:hover {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #0056b3;
}

.add-to-cart {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.add-to-cart:hover {
  background-color: #218838;
}
